@model APHATT.Models.CourseCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CourseCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseCategoriesName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCategoriesName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseCategoriesDescriptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCategoriesDescriptions)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseCategoriesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
