@model IEnumerable<APHATT.Models.CourseCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseCategoriesName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseCategoriesDescriptions)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCategoriesName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCategoriesDescriptions)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseCategoriesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseCategoriesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseCategoriesID })
        </td>
    </tr>
}

</table>
