@model IEnumerable<APHATT.Models.TrainerTopic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrainerTopicDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic.TopicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trainer.TrainerExternal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrainerTopicDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Topic.TopicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trainer.TrainerExternal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrainerTopicID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrainerTopicID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrainerTopicID })
        </td>
    </tr>
}

</table>
