<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Trainee", "Index", "Trainees")</li>
    <li>@Html.ActionLink("Course Categories", "Index", "courseCategories")</li>
    <li>@Html.ActionLink("Course", "Index", "Courses")</li>
    <li>@Html.ActionLink("Trainers", "Index", "Trainers")</li>
    <li>@Html.ActionLink("Topic", "Index", "Topics")</li>

    <li>@Html.ActionLink("Trainee to Class", "Index", "Enrollments")</li>
    <li>@Html.ActionLink("Trainer to Topic", "Index", "TrainerTopics")</li>

</ul>

